{{!--<div class="scroll-pane">--}}
	<section class="header">
		<div class="smartspace-container container">
			<img class="smartspace-logo" src="assets/images/smartspace_logo.svg" alt="SmartSpace">
		</div>
		<div class="narrow-container">
			<h1>Explore our properties</h1>
			<div class="loading">Loading<div class="spinner"></div></div>
			<div class="property_list_search_container">
				<form id="property_list_search_form" action="#">
					<input id="property_list_search" class="general_style_input" type="text" placeholder="City, address, property name" autocomplete="off">
				</form>
				<div class="property_list_search_autocomplete_wrapper">
					<div class="property_list_search_autocomplete_container"></div>
				</div>
			</div>
		</div>
	</section>	
	
	<section class="introduction">
		<div class="narrow-container">
			<h2>Strategic locations</h2>
			<p>Goodman properties are a symbol of smart investment. By strategically locating modern, high quality properties in key gateway cities around the world, we’ve shortened the distance between business and consumers and put our customers ahead of the market.</p>
		</div>
	</section>	

