<div class="property_detail_close js-property-detail-close"></div>

<div class="property_detail_gallery_container gallery_container">
	{{#if resource.SmarSpaceImage}}
		{{#each resource.SmarSpaceImage}}
			<div class="property_detail_image_container gallery_image_container" style="background-image: url('{{cleanurl url}}')" title="{{ title }}"></div>
		{{/each}}
		<div class="gallery_zoom"></div>
	{{else}}
		{{#if gppthumbnailimage}}
		<div class="property_detail_image_container gallery_image_container" style="background-image: url('{{cleanurl gppthumbnailimage}}')"></div>
		{{else}}
		<div class="property_detail_image_container gallery_image_container" style="background-image: url('{{cleanurl leasingthumbnailimage}}')"></div>
		{{/if}}
	{{/if}}
</div>

<div class="property_detail_title_container"><h1>{{name}}</h1></div>

<div class="page_content_selector_wrapper">
	<div class="page_content_selector_container">
		<div class="property_detail_trigger page_content_selector">Details</div>
		<div class="property_map_trigger page_content_selector">Map</div>
	</div>
</div>

<div class="property_detail_content_container">
	<div class="property_detail_content_header_container">
		<div class="property_detail_address">{{goodmanaddress address suburb region country}} {{!-- {{address}}{{#if suburb}} {{suburb}}{{/if}}{{#if region}} {{region}}{{/if}} --}}</div>
		<div class="property_detail_filter_container">
			<div class="property_detail_filter_item property_detail_type">{{goodmantypes propertytype}}</div>
			<div class="property_detail_filter_item property_detail_area">{{goodmansize size_standardunits}}</div>
			{{#if isInternal}}{{#if fund}}<div class="property_detail_filter_item property_detail_fund">Fund: {{fund}}</div>{{/if}}{{/if}}
		</div>
		<div class="property_detail_link_container">
			{{#if isInternal}}
				{{#if childproperties}}
					<div class="property_detail_view_lease general_style_button general_style_button_green" data-propertyview="child">View space for lease+</div>
				{{else}}
					{{#if_eq isleased '0'}}
						<div class="property_detail_view_lease general_style_button general_style_button_green" data-propertyview="lease">View space for lease+</div>
					{{/if_eq}}
				{{/if}}
			{{else}}
				{{#if_eq isleased '0'}}
					{{#if leaselink}}
					<a href="{{leaselink}}" class="property_detail_view_lease general_style_button general_style_button_green" target="_blank">View space for lease+</a>
					{{/if}}
				{{/if_eq}}
				<a target="_blank" href="mailto:?subject=Take a look at this Goodman property&body={{shareBaseUrl}}?pid={{propertyid}}/{{goodmannameurlsafe name}}" class="property_detail_share">Share</a>

			{{/if}}
			<div class="clear"></div>
			{{#if micrositeurl}}
			<a href="{{cleanurl micrositeurl}}" target="_blank" class="property_detail_website">Website</a>
			{{/if}}
			<div class="clear"></div>
		</div>
	</div>

	<div class="property_detail_content_body_container margin-top">
		{{{gppdescription}}}
	</div>

	{{#if sitefeature}}
	<div class="property_detail_content_footer_container">
		<h3>Site features</h3>
		<div class="property_detail_feature_wrapper">
		   {{#each sitefeature}}
			<div class="property_detail_feature_container {{ class }}">{{ name }}</div>
		   {{/each}}
		</div>
	</div>
	{{/if}}
	
	{{#if isInternal}}
		{{#if childproperties}}
		<div class="property_detail_content_more_spaces">
			<div class="property_list_section_separator"></div>
			<h3>Spaces available</h3>
			<div class="property_list_section_content_container">
				{{#each childproperties}}{{#with attributes}}
				<div class="property_list_item_container {{#if_eq isleased '0'}}property_list_lease_item_container{{/if_eq}}" data-object-id="{{objectid}}">
					<div class="property_list_item_gallery_container gallery_container">
						<div class="property_list_item_image_container gallery_image_container" 
							style="background-image:url('{{#if gppthumbnailimage}}{{cleanurl gppthumbnailimage}}{{else}}{{cleanurl leasingthumbnailimage}}{{/if}}')"
							title="{{name}}"></div>
					</div>
					<div class="property_list_item_description_container">
						<p class="property_list_item_type high_light">{{goodmantypes propertytype}}</p>
						<h3 class="property_list_item_title">{{name}}</h3>
						<p class="property_list_item_address">{{address}}{{#if suburb}} {{suburb}}{{/if}}{{#if region}}<br>{{region}}{{/if}}</p>
						{{#if size_standardunits}}
							<p class="property_list_item_area">{{goodmansize size_standardunits}}</p>
						{{else}}
							<p class="property_list_item_area">{{goodmansize minleasingsize false}}{{#if maxleasingsize}}{{#if_not_eq minleasingsize maxleasingsize}} - {{goodmansize maxleasingsize false}}{{/if_not_eq}}{{/if}} {{goodmansizeunit}}</p>
						{{/if}}
					</div>
				</div>
				{{/with}}{{/each}}
				<div class="clear"></div>
			</div>
		</div>
		{{/if}}
	{{/if}}

</div>
