{{#if locality}}
	{{#each locality}}
	<div class="property_map_bottom_link column column_{{../localityColumnSize}}" data-locobjid="{{localityid}}" data-propobjid="{{propertyid}}">
		<div class="locality-type" style="background-image:url({{cleanurl iconurl}})"></div>
		<div class="property_map_bottom_link_title">
			<div class="property_map_bottom_link_name">{{title}}</div>
			{{#if distance}}<div class="property_map_bottom_link_distance">{{numberformat distance 1 '.'}} kms</div>{{/if}}
		</div>
	</div>
	{{/each}}
{{/if}}