<div class="property_list_title_wrapper">
	<div class="property_list_title_container">
		<img class="smartspace-logo" src="assets/images/smartspace_logo.svg" alt="SmartSpace">
	</div>
</div>

<div class="property_list_search_container loading">
	<form id="property_list_search_form" action="#">
		<input id="property_list_search" class="general_style_input" type="text" placeholder="Loading..." autocomplete="off" disabled>
	</form>
	<div class="property_list_search_clear"></div>
	<div class="property_list_search_autocomplete_wrapper">
		<div class="property_list_search_autocomplete_container"></div>
	</div>
</div>

<div class="page_content_selector_wrapper">
	<div class="page_content_selector_container">
		<div class="property_list_trigger page_content_selector">List</div>
		<div class="property_map_trigger page_content_selector">Map</div>
		<div class="property_filter_trigger page_content_selector">Filter</div>
	</div>
</div>