{{#if types}}
	<div class="property_map_type_container"><!--
	{{#each types}}
	--><div class="property_map_type_link" data-value="{{value}}">
		<div class="property_map_type_link_name">{{name}}</div>
	</div><!--
	{{/each}}
	--></div>
{{/if}}