<div class="property_filter_wrapper">
	<div class="property_filter_title_container">
		<div class="container">
			<div class="property_filter_title">Filters</div>
			<div class="property_filter_title_button_reset property_filter_button_reset">Reset</div>
			<div class="property_filter_title_button_cancel property_filter_button_cancel"></div>
		</div>
	</div>
	
	
	<div class="property_filter_container container">
		{{!-- <div id="property_country_filter_section" class="property_filter_section drop_down_parent">
			<div class="property_filter_trigger drop_down_trigger general_style_button">Country</div>
			<div class="property_filter_section_title">Country</div>
			<div class="drop_down_wrapper">
				<div class="property_filter_content drop_down_container column_container">
					<div class="column column_12 column_l_4 column_xl_4 column_xxl_4">
						<div class="property_filter_sub_section drop_down_parent drop_down_expand">
							<div class="property_filter_sub_section_title"><div class="general_style_checkbox_container"><input name="countrygroup" value="Asia Pacific" class="property_filter_sub_section_title_checkbox general_style_checkbox_input" type="checkbox"><div class="general_style_checkbox_display"></div><label class="general_style_label general_style_label_right">Asia Pacific+</label></div><div class="drop_down_trigger"></div></div>
							<div class="property_filter_sub_section_content drop_down_wrapper">
								<div class="drop_down_container">
									<div class="property_filter_sub_section_row general_style_checkbox_container"><input name="country" value="Australia" class="property_filter_sub_section_row_checkbox general_style_checkbox_input" type="checkbox"><div class="general_style_checkbox_display"></div><label class="general_style_label general_style_label_right">Australia</label></div>
									<div class="property_filter_sub_section_row general_style_checkbox_container"><input name="country" value="New Zealand" class="property_filter_sub_section_row_checkbox general_style_checkbox_input" type="checkbox"><div class="general_style_checkbox_display"></div><label class="general_style_label general_style_label_right">New Zealand</label></div>
									<div class="property_filter_sub_section_row general_style_checkbox_container"><input name="country" value="China" class="property_filter_sub_section_row_checkbox general_style_checkbox_input" type="checkbox"><div class="general_style_checkbox_display"></div><label class="general_style_label general_style_label_right">Greater China</label></div>
									<div class="property_filter_sub_section_row general_style_checkbox_container"><input name="country" value="Japan" class="property_filter_sub_section_row_checkbox general_style_checkbox_input" type="checkbox"><div class="general_style_checkbox_display"></div><label class="general_style_label general_style_label_right">Japan</label></div>
								</div>
							</div>
						</div>
						<div class="property_filter_sub_section drop_down_parent">
							<div class="property_filter_sub_section_title"><div class="general_style_checkbox_container"><input name="countrygroup" value="Americas" class="property_filter_sub_section_title_checkbox general_style_checkbox_input" type="checkbox"><div class="general_style_checkbox_display"></div><label class="general_style_label general_style_label_right">Americas+</label></div><div class="drop_down_trigger"></div></div>
							<div class="property_filter_sub_section_content drop_down_wrapper">
								<div class="drop_down_container">
									<div class="property_filter_sub_section_row general_style_checkbox_container"><input name="country" value="Brazil" class="property_filter_sub_section_row_checkbox general_style_checkbox_input" type="checkbox"><div class="general_style_checkbox_display"></div><label class="general_style_label general_style_label_right">Brazil</label></div>
									<div class="property_filter_sub_section_row general_style_checkbox_container"><input name="country" value="North America" class="property_filter_sub_section_row_checkbox general_style_checkbox_input" type="checkbox"><div class="general_style_checkbox_display"></div><label class="general_style_label general_style_label_right">North America</label></div>
								</div>
							</div>
						</div>
					</div>
					<div class="column column_12 column_l_8 column_xl_8 column_xxl_8">
						<div class="property_filter_sub_section drop_down_parent">
							<div class="property_filter_sub_section_title"><div class="general_style_checkbox_container"><input name="countrygroup" value="Europe" class="property_filter_sub_section_title_checkbox general_style_checkbox_input" type="checkbox"><div class="general_style_checkbox_display"></div><label class="general_style_label general_style_label_right">Europe+</label></div><div class="drop_down_trigger"></div></div>
							<div class="property_filter_sub_section_content drop_down_wrapper">
								<div class="drop_down_container column_container">
									<div class="column column_6">
										<div class="property_filter_sub_section_row general_style_checkbox_container"><input name="country" value="Belgium" class="property_filter_sub_section_row_checkbox general_style_checkbox_input" type="checkbox"><div class="general_style_checkbox_display"></div><label class="general_style_label general_style_label_right">Belgium</label></div>
										<div class="property_filter_sub_section_row general_style_checkbox_container"><input name="country" value="Czech Republic" class="property_filter_sub_section_row_checkbox general_style_checkbox_input" type="checkbox"><div class="general_style_checkbox_display"></div><label class="general_style_label general_style_label_right">Czech Republic</label></div>
										<div class="property_filter_sub_section_row general_style_checkbox_container"><input name="country" value="Denmark" class="property_filter_sub_section_row_checkbox general_style_checkbox_input" type="checkbox"><div class="general_style_checkbox_display"></div><label class="general_style_label general_style_label_right">Denmark</label></div>
										<div class="property_filter_sub_section_row general_style_checkbox_container"><input name="country" value="France" class="property_filter_sub_section_row_checkbox general_style_checkbox_input" type="checkbox"><div class="general_style_checkbox_display"></div><label class="general_style_label general_style_label_right">France</label></div>
										<div class="property_filter_sub_section_row general_style_checkbox_container"><input name="country" value="Germany" class="property_filter_sub_section_row_checkbox general_style_checkbox_input" type="checkbox"><div class="general_style_checkbox_display"></div><label class="general_style_label general_style_label_right">Germany</label></div>
										<div class="property_filter_sub_section_row general_style_checkbox_container"><input name="country" value="Hungary" class="property_filter_sub_section_row_checkbox general_style_checkbox_input" type="checkbox"><div class="general_style_checkbox_display"></div><label class="general_style_label general_style_label_right">Hungary</label></div>
										<div class="property_filter_sub_section_row general_style_checkbox_container"><input name="country" value="Italy" class="property_filter_sub_section_row_checkbox general_style_checkbox_input" type="checkbox"><div class="general_style_checkbox_display"></div><label class="general_style_label general_style_label_right">Italy</label></div>
									</div>
									<div class="column column_6">
										<div class="property_filter_sub_section_row general_style_checkbox_container"><input name="country" value="Netherlands" class="property_filter_sub_section_row_checkbox general_style_checkbox_input" type="checkbox"><div class="general_style_checkbox_display"></div><label class="general_style_label general_style_label_right">Netherlands</label></div>
										<div class="property_filter_sub_section_row general_style_checkbox_container"><input name="country" value="Poland" class="property_filter_sub_section_row_checkbox general_style_checkbox_input" type="checkbox"><div class="general_style_checkbox_display"></div><label class="general_style_label general_style_label_right">Poland</label></div>
										<div class="property_filter_sub_section_row general_style_checkbox_container"><input name="country" value="Slovakia" class="property_filter_sub_section_row_checkbox general_style_checkbox_input" type="checkbox"><div class="general_style_checkbox_display"></div><label class="general_style_label general_style_label_right">Slovakia</label></div>
										<div class="property_filter_sub_section_row general_style_checkbox_container"><input name="country" value="Spain" class="property_filter_sub_section_row_checkbox general_style_checkbox_input" type="checkbox"><div class="general_style_checkbox_display"></div><label class="general_style_label general_style_label_right">Spain</label></div>
										<div class="property_filter_sub_section_row general_style_checkbox_container"><input name="country" value="Sweden" class="property_filter_sub_section_row_checkbox general_style_checkbox_input" type="checkbox"><div class="general_style_checkbox_display"></div><label class="general_style_label general_style_label_right">Sweden</label></div>
										<div class="property_filter_sub_section_row general_style_checkbox_container"><input name="country" value="United Kingdom" class="property_filter_sub_section_row_checkbox general_style_checkbox_input" type="checkbox"><div class="general_style_checkbox_display"></div><label class="general_style_label general_style_label_right">United Kingdom</label></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
					<div class="property_filter_button_container">
						<div class="property_filter_button property_filter_button_cancel">Cancel</div>
						<div class="property_filter_button property_filter_button_apply">Apply</div>
					</div>
				</div>
			</div>
		</div> --}}<!--
		--><div id="property_type_filter_section" class="property_filter_section drop_down_parent">
			<div class="property_filter_trigger drop_down_trigger general_style_button">Property type</div>
			<div class="property_filter_section_title">Property type</div>
			<div class="drop_down_wrapper">
				<div class="property_filter_content drop_down_container">
					<div class="property_filter_section_row general_style_checkbox_container"><input class="property_filter_section_row_checkbox general_style_checkbox_input" type="checkbox" name="type" value="I"><div class="general_style_checkbox_display"></div><label class="general_style_label general_style_label_right">Industrial or logistics<span class="property_filter_checkbox_sub_label">Manufacturing and storage</span></label></div>
					<div class="property_filter_section_row general_style_checkbox_container"><input class="property_filter_section_row_checkbox general_style_checkbox_input" type="checkbox" name="type" value="C"><div class="general_style_checkbox_display"></div><label class="general_style_label general_style_label_right">Commercial or office<span class="property_filter_checkbox_sub_label">Office and business spaces</span></label></div>
					<div class="property_filter_section_row general_style_checkbox_container"><input class="property_filter_section_row_checkbox general_style_checkbox_input" type="checkbox" name="type" value="L"><div class="general_style_checkbox_display"></div><label class="general_style_label general_style_label_right">Land for development<span class="property_filter_checkbox_sub_label">Vacant lots to be developed</span></label></div>
					<div class="property_filter_button_container">
						<div class="property_filter_button property_filter_button_cancel">Cancel</div>
						<div class="property_filter_button property_filter_button_apply">Apply</div>
					</div>
				</div>
			</div>
		</div><!--
		--><div id="property_size_filter_section" class="property_filter_section drop_down_parent">
			<div class="property_filter_trigger drop_down_trigger general_style_button">Property size</div>
			<div class="property_filter_section_title">Property size</div>
			<div class="drop_down_wrapper">
				<div class="property_filter_content drop_down_container">
					<div class="size-range-selector">
						{{partial 'property-list-filter-size-range'}}
						{{!-- 
						<div class="property_filter_size_display"><div class="property_filter_size_display_start">0</div> - <div class="property_filter_size_display_end">100,000+</div> sqm</div>
						<input type="hidden" name="min" value="0">
						<input type="hidden" name="max" value="100,000+">
						<div class="property_filter_size_bar_container">
							<div class="property_filter_size_bar_column_container property_filter_size_bar_column_container_5_column"><div class="property_filter_size_bar_column"></div><div class="property_filter_size_bar_column"></div><div class="property_filter_size_bar_column"></div><div class="property_filter_size_bar_column"></div><div class="property_filter_size_bar_column"></div></div>
							<div class="property_filter_size_bar_front"><div class="property_filter_size_bar_front_start"></div><div class="property_filter_size_bar_front_end"></div></div>
						</div>
						--}}
					</div>
					<div class="size-units-selector">
						Show sizes in:
						<div class="general_style_radio_container">
							<input class="general_style_radio_input" type="radio" name="size_unit" value="sqm" {{#if_eq sizeUnit 'sqm'}}checked{{/if_eq}}>
							<div class="general_style_radio_display"></div><label class="general_style_label">sqm</label>
						</div>
						<div class="general_style_radio_container">
							<input class="general_style_radio_input" type="radio" name="size_unit" value="sqft" {{#if_eq sizeUnit 'sqft'}}checked{{/if_eq}}>
							<div class="general_style_radio_display"></div><label class="general_style_label">sqft</label>
						</div>
					</div>
					<div class="property_filter_button_container">
						<div class="property_filter_button property_filter_button_cancel">Cancel</div>
						<div class="property_filter_button property_filter_button_apply">Apply</div>
					</div>
				</div>
			</div>
		</div><!--
		{{#if isInternal}}
		--><div id="property_fund_filter_section" class="property_filter_section drop_down_parent">
			<div class="property_filter_trigger drop_down_trigger general_style_button">Fund</div>
			<div class="property_filter_section_title">Fund</div>
			<div class="drop_down_wrapper">
				<div class="property_filter_content drop_down_container">
					{{#each funds}}
						<div class="property_filter_section_row general_style_checkbox_container"><input class="property_filter_section_row_checkbox general_style_checkbox_input" type="checkbox" name="fund" value="{{this}}"><div class="general_style_checkbox_display"></div><label class="general_style_label general_style_label_right">{{this}}</label></div>	
					{{/each}}
					<div class="property_filter_button_container">
						<div class="property_filter_button property_filter_button_cancel">Cancel</div>
						<div class="property_filter_button property_filter_button_apply">Apply</div>
					</div>
				</div>
			</div>
		</div><!--
		{{/if}}
		--><div class="property_filter_inline_reset property_filter_button_reset"></div>
	   {{#if isInternal}}
		<div id="property_for_lease_filter_section" class="property_filter_section">
			<div class="property_filter_section_title">Lease<span class="green" style="font-weight:400;">+</span></div>
			<div class="property_filter_section_row general_style_checkbox_container"><input name="forleasefilter" id="property_list_filter_show_lease" class="property_list_filter_checkbox general_style_checkbox_input" type="checkbox"><div class="general_style_checkbox_display"></div><label for="property_list_filter_show_lease" class="general_style_label general_style_label_right">Show space for lease</label></div>
		</div>
		{{/if}}
		<div class="clear"></div>
		<div class="property_filter_bottom_button_container"><div class="property_filter_bottom_button property_filter_bottom_button_cancel general_style_button property_filter_button_cancel">Cancel</div><div class="property_filter_bottom_button property_filter_bottom_button_apply general_style_button general_style_button_green property_filter_button_apply">Apply</div></div>
	</div>
	
</div>
