/* Range control */

.property_filter_size_display {
    padding-bottom: 1em;
    font-size: 1.6em;
    font-weight: bold;
}

.property_filter_size_display_start,
.property_filter_size_display_end {
    display: inline-block;
}

.property_filter_size_bar_container {
    position: relative;
	padding-top: 20px;
	top: -20px;
}

.property_filter_size_bar_column_container {
    display: block;
    width: 100%;
    padding: 2em 0 0 0;
    border-top: 4px solid #cdcdcd;
}

.property_filter_size_bar_column {
    display: inline-block;
    height: 0.7em;
    border-right: 1px solid #a4a19a;
}

.property_filter_size_bar_column:first-child {
    border-left: 1px solid #a4a19a;
}

.property_filter_size_bar_column_container_1_column > .property_filter_size_bar_column {width: 100%;}
.property_filter_size_bar_column_container_2_column > .property_filter_size_bar_column {width: 50%;}
.property_filter_size_bar_column_container_3_column > .property_filter_size_bar_column {width: 33.33333333%;}
.property_filter_size_bar_column_container_4_column > .property_filter_size_bar_column {width: 25%;}
.property_filter_size_bar_column_container_5_column > .property_filter_size_bar_column {width: 20%;}
.property_filter_size_bar_column_container_6_column > .property_filter_size_bar_column {width: 16.66666667%;}
.property_filter_size_bar_column_container_7_column > .property_filter_size_bar_column {width: 14.28571428%;}
.property_filter_size_bar_column_container_8_column > .property_filter_size_bar_column {width: 12.5%;}
.property_filter_size_bar_column_container_9_column > .property_filter_size_bar_column {width: 11.11111111%;}
.property_filter_size_bar_column_container_10_column > .property_filter_size_bar_column {width: 10%;}

.property_filter_size_bar_front {
    display: block;
    position: absolute;
    top: 20px;
    left: 20%;
    right: 0;
    border-top: 4px solid $color-green;
    //border-bottom: 2px solid $color-green;
}

.property_filter_size_bar_front_start,
.property_filter_size_bar_front_end {
	position: relative;
	width: 40px;
	height: 40px;
	position: absolute;
	top: -22px;
	//left: -20px;
	cursor: ew-resize;
	
	&::before {
		display: block;
		width: 20px;
		height: 20px;
		position: absolute;
		top: 10px;
		left: 10px;
		background: $color-green;
		border-radius: 50%;
		content: ' ';
	}
}

.property_filter_size_bar_front_start {
    //float: left;
	left: -20px;
}
.property_filter_size_bar_front_end {
    //float: right;
	right: -20px;
}
