/* Mobile page selector */

.page_content_selector_wrapper {
	padding: 2em 0;
	text-align: center;

	.page_content_selector_container {
		display: inline-block;
		white-space: nowrap;
		box-shadow: 0 3px 8px rgba(23,48,56,0.3);
	}
}

.page_content_selector {
	display: inline-block;
	padding: 0.5em 2em;
	color: $color-green;
	background: #fff;
	font-size: 1.6em;
	cursor: pointer;
}

.property_detail_trigger,
.property_list_trigger { display: none; }

.property_map_active .property_map_trigger { display: none; }
.property_map_active .property_detail_trigger,
.property_map_active .property_list_trigger { display: inline-block; }

.property_map_active .page-right-wrapper .page_content_selector_wrapper { 
	position: absolute;
	width: 100%;
	top: -80px;
}

@media only screen and (min-width: $screen-md) {
	.page_content_selector_wrapper {
        display: none;
    }
}