/* Search container */

.property_list_search_container {
    padding: 1.5em 3em;
    position: relative;
    background: $color-grey-dark;
	
	&::before {
		display: block;
		position: absolute;
		top: 1.4em;
		left: 2.3em;
		color: $color-green;
		font-family: $font-font-awesome;
		font-size: 2em;
		pointer-events: none;
		content: '\f002';
		z-index: 10;
	}
	
	&.loading::before,
	&.loading::after {
		display: block;
		position: absolute;
		font-size: 2em;
		top: 1.4em;
		left: 2.3em;
		background: $color-green;
		width: 1.2em;
		height: 0.2em;
		margin: 0.5em 0;
		content: '';
		z-index: 10;
		animation: loading-spin 1s infinite;
	}
	&.loading::after {
		width: 0.2em;
		height: 1.2em;
		margin: 0 0.5em;
	}
	
	.property_list_search_clear {
		display: none;
		position: absolute;
		top: 0.75em;
		right: 1.5em;
		font-size: 2em;
		width: 2.6em;
		height: 2.6em;
		text-align: center;
        cursor: pointer;
    
		&::before {
			color: #a4a19a;
			font-family: $font-material-icons;
			content: '\e5cd';
			line-height: 2.8;
			vertical-align: middle;
		}
		&:hover::before {
			color: $color-green;
		}
	}
	
}

@keyframes loading-spin {
  0%   { transform: rotate(90deg); }
  100% { transform: rotate(270deg); }
}


#property_list_search {
    width: 100%;
    padding: 0.7em 2.5em;
    font-size: 2em;
	
	&::-ms-clear {
		display: none;
	}
}

/* Property List Search & Autocomplete */
.property_list_search_autocomplete_wrapper {
    display: block;
    height: 0;
    position: absolute;
    left: 3em;
    right: 3em;
    overflow: hidden;
    z-index: 20;
}

.property_list_search_autocomplete_wrapper_expand {
    height: auto;
}

.property_list_search_autocomplete_container {
    display: block;
    position: relative;
    padding: 3em;
    background: #ffffff;
    border: 1px solid #a4a19a;
	text-align: left;
}

.property_list_search_autocomplete_title {
    padding-bottom: 1em;
    color: $color-text;
    font-size: 1.6em;
    font-weight: 600;
}

.property_list_search_autocomplete_filter_container {
    display: block;
    padding-bottom: 2em;
    color: $color-hr;
    text-align: center;
}

.property_list_search_autocomplete_filter {
    display: inline-block;
    width: 11em;
    height: 4em;
    margin: 0 0.5em 0.5em 0.5em;
    padding: 0.5em 1em;
    border: 1px solid $color-hr;
    font-size: 1.6em;
    text-align: center;
    vertical-align: top;
}

.property_list_search_autocomplete_filter_selected {
    background: $color-green;
    color: #ffffff;
}

.property_list_search_autocomplete_row {
    position: relative;
    padding: 0.5em 0.5em 0.5em 2em;
    color: $color-text;
    font-size: 1.6em;
    cursor: pointer;
	
	&:before {
		display: block;
		position: absolute;
		top: 0.5em;
		left: 0.2em;
		color: $color-green;
		font-family: $font-font-awesome;
	}
	&.property_list_search_autocomplete_row_recent:before {content: '\f017';}
	&.property_list_search_autocomplete_row_location:before {content: '\f041';}
	&.property_list_search_autocomplete_row_suggestion:before {content: '\f067';}
	
	&:hover,
	&.active {
		background: #f0f0f0;
	}
	
	.matched_text {
    	font-weight: bold;
	}
	
}

.property_list_search_autocomplete_row_additional {
    color: #999999;
    font-size: 0.9em;
}

@media only screen and (max-width: $screen-md - 1) {
	.property_list_search_container {
		font-size: 0.9em;
	}
}

@media only screen and (max-width: $screen-sm - 1) {
	.property_list_search_container {
		font-size: 0.8em;
	}
}
