/*# Property List Page/List Sections #*/

#property-list {
}

.property-detail-open #property-list {
	height: 100%;
	overflow: hidden;
}

.property_list_section_wrapper {
    position: relative;
    padding: 1em 0;
}

.property_list_section_container_no_results {
	min-height: 500px;
	text-align: center;
	
	h2 {
		display: block !important;
		margin-bottom: 1em;
	}
	
	p {
		font-size: 1.6em;
		margin-bottom: 1.6em;
	}
	
	.general_style_button {
		display: inline-block;
		font-size: 1.6em;
	}
}

.property_list_section_wrapper_mask {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,0.9);
    z-index: 10;
}

.property_filter_active .property_list_section_wrapper_mask {
    display: block;
}

.property_list_section_title_container {
    padding: 1.7em 3em 1.5em 3em;
}

.property_list_section_title_container > h2 {
    display: inline;
    font-size: 2.6em;
}

.property_list_section_sort_container {
    display: block;
    position: relative;
    float: right;
    padding-top: 1em;
}

.property_list_section_sort_container > .drop_down_trigger {
    color: $color-green;
    font-size: 1.6em;
    font-weight: bold;
    cursor: pointer;
}

.property_list_section_sort_container > .drop_down_trigger:after {
    padding-left: 0.5em;
    font-family: $font-font-awesome;
    content: '\f078';
}

.property_list_section_sort_container > .drop_down_wrapper {
    width: 22em;
    position: absolute;
    right: 0;
    box-shadow: 0 3px 8px rgba(23,48,56,0.3);
    z-index: 10;
}

.property_list_section_sort_item {
    width: 100%;
    padding: 0.6em 1.5em;
    background: #ffffff;
    font-size: 1.4em;
    cursor: pointer;
}

.property_list_section_sort_item:nth-child(even) {
    background: #edeeef;
}

.property_list_section_navigation_link_all {
    display: block;
    float: right;
    padding-top: 0.6em;
    font-size: 1.6em;
    font-weight: bold;
	margin-left: 0.5em;
}

.property_list_item_count {
	display: block;
    float: right;
	font-size: 1.6em;
	font-weight: bold;
	padding-top: 0.6em;
}

.property_list_item_selector_container {
    display: block;
    float: right;
    padding: 1.4em 1em;
}

.property_list_item_selector {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    margin: 0 0.2em;
    border: 3px solid #b8b8b8;
    border-radius: 50%;
    cursor: pointer;
}

.property_list_item_selector_selected {
    background: $color-green;
    border-color: $color-green;
}

.property_list_section_content_container {
    padding: 0 2em;
}

// ITEM

.property_list_item_container {
    position: relative;
	display: block;
    width: 100%;
    float: left;
    padding: 0 1em;
	cursor: pointer;
	
	&.hover {
		.property_list_item_gallery_container {
			background-color: rgba($color-green, 0.3);
		}
		.property_list_item_description_container::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 10em;
			background: linear-gradient(to bottom, rgba($color-green, 0.3) 0%, rgba($color-green, 0) 100%);
			z-index: -1;
		}
		
	}
	
	&:nth-of-type(3n+1) {
		clear: left;
	}
}
 
.property_list_lease_item_container .property_list_item_gallery_container:before {
    display: block;
    padding: 0.4em 1em;
    position: absolute;
    top: 0;
    right: 0;
    background: $color-green;
    color: #ffffff;
    font-size: 1.4em;
    content: 'Lease Available+';
	z-index: 2;
}

.property_list_item_gallery_container, 
.property_list_item_image_container {
	height: 190px;
}

.property_list_item_description_container {
    position: relative;
	padding: 1em 1em 1.3em 1em;
    font-size: 1.4em;
}

.property_list_item_type {
    font-size: 1em;
}

.property_list_item_title {
    padding: 0 0 0.4em 0;
    font-size: 1.5em;
}

.property_list_item_address {
    padding: 0 0 0.75em 0;
    font-size: 1.1em;
}

.property_list_item_area {
    font-size: 1em;
}

.property_list_section_separator {
    display: block;
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
}

.property_list_pagination_wrapper {
    padding: 2em 0;
    text-align: center;
}

.property_list_pagination_container {
    display: inline-block;
}

.property_list_pagination_nav {
    display: inline-block;
    width: 3em;
    height: 3em;
    border: 2px solid $color-green;
    border-radius: 50%;
    color: $color-green;
    cursor: pointer;
}

.property_list_pagination_nav:hover {
    background: $color-green;
    color: #ffffff;
}

.property_list_pagination_nav_disabled,
.property_list_pagination_nav_disabled:hover {
    color: #c3c0b8;
    background: #ffffff;
    border-color: #c3c0b8;
    cursor: default;
}

.property_list_pagination_nav:before {
    line-height: 2em;
    font-size: 1.4em;
    font-family: $font-font-awesome;
}

.property_list_pagination_nav_previous:before {content: '\f053';}
.property_list_pagination_nav_next:before {content: '\f054';}

.property_list_pagination_content {
    display: inline-block;
    padding: 0.3em 1.2em;
    font-size: 1.5em;
    font-weight: bold;
    white-space: nowrap;
}

@media only screen and (max-width: $screen-xs - 1) {
    .property_list_item_container {
        // display: none;
    }

    .property_list_item_container_selected {
        display: block;
    }

    .property_list_section_content_container_show_all .property_list_item_container {
        display: block;
    }
}

@media only screen and (min-width: $screen-xs) and (max-width: $screen-sm - 1) {
    .property_list_item_container {
        width: 50%;
		
		&:nth-of-type(3n+1) {
			clear: none;
		}
		&:nth-of-type(2n+1) {
			clear: left;
		}
    }
}

@media only screen and (min-width: $screen-sm) {
    .property_list_item_container {
        width: 33.33333333%;
    }
}

@media only screen and (min-width: $screen-md) {
    #property_list_page_wrapper > .container {
        position: relative;
        height: 100vh;
    }
    .property_list_container {
        height: 100%;
        overflow: auto;
		margin-bottom: 40px;
    }
}


@media only screen and (min-width: $screen-md) and (max-width: $screen-xl - 1) {
    .property_list_item_description_container {
        font-size: 1em;
    }
}

@media only screen and (min-width: $screen-xl) and (max-width: $screen-xxl - 1) {
    .property_list_item_description_container {
        font-size: 1.2em;
    }
}

@media only screen and (min-width: $screen-xxl) {
    .property_list_item_description_container {
        font-size: 1.4em;
    }
}
