 /* Property Detail Page */

#property-detail {
	position: absolute;
	background: #fff;
	width: 100%;
	top: 0;
	left: -100%;
	transition: left 0.5s;
	z-index: 11;
	
	.scroll-pane {
		bottom: 70px;
	}
	
	> .property_detail_bottom_container {
		position: absolute;
		bottom: 0;
		width: 100%;
		border-top: 1px solid $color-hr;
	}
}

.property-detail-open #property-detail {
	left: 0;
	min-height: 100%;
}

#property_detail_page_wrapper > .container {
    width: 100%;
    max-width: none;
}

.property_detail_gallery_container,
.property_detail_image_container {
    height: 25em;
}

.property_detail_gallery_container .gallery_navigator {
    width: 4rem;
    height: 4rem;
    margin-top: -2rem;
}

.property_detail_gallery_container .gallery_navigator:before {
    font-size: 2rem;
    line-height: 2;
}

.property_detail_gallery_container .gallery_close {
    width: 4rem;
    height: 4rem;
    top: 0;
    right: 0;
    background: #ffffff;
    text-align: center;
}

.property_detail_gallery_container .gallery_close:before {
    color: $color-green;
    font-size: 2rem;
    line-height: 2rem;
}

.property_detail_gallery_container .gallery_zoom {
    display: none;
}

#product_detail_gallery_overlay_popup_wrapper .overlay_popup_container {
    padding: 2em;
    background: #ffffff;
}

#product_detail_gallery_overlay_popup_wrapper .gallery_container {
    background: #ffffff;
}

#product_detail_gallery_overlay_popup_wrapper .gallery_container h3 {
    padding: 1.5em 0 0.5em;
    color: $color-hr;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.property_detail_gallery_container .gallery_selector_container,
#product_detail_gallery_overlay_popup_wrapper .gallery_selector_container {
	bottom: 3em;
    z-index: 2;
}

.property_detail_title_container {
    padding:3em 1.5em 0 1.5em;
}

.property_detail_title_container > h1 {
    color: $color-grey;
    font-size: 3.3em;
    font-weight: bold;
}

.property_detail_content_container {
    padding: 0 1.5em 1.5em 1.5em;
    border-bottom: 1px solid $color-hr;
}

.property_detail_content_header_container {
    position: relative;
    border-bottom: 1px solid $color-hr;
}

.property_detail_address {
    padding: 0.4em 0 1.1em 0;
    font-size: 1.7em;
}

.property_detail_filter_container {
    padding-bottom: 3em;
	padding-bottom: 0;
}

.property_detail_filter_item {
    display: inline-block;
    padding-right: 2em;
    font-size: 1.5em;
	line-height: 2.0;
}

.property_detail_website .property_detail_filter_item_title {
    text-align: center;
    vertical-align: top;
	
	&::after {
		padding-left: 0.5em;
		color: $color-grey-dark;
		font-family: $font-font-awesome;
		content: '\f08e';
	}
}

.property_detail_website:hover .property_detail_filter_item_title::after {
	color: $color-green;
}

.property_detail_link_container {
    text-align: center;
}

.property_detail_view_lease {
    display: inline-block;
    padding: 0.6em 1em;
    margin-bottom: 1.5em;
    font-size: 1.6em;
}

.property_detail_website,
.property_detail_share {
    display: inline-block;
    margin-bottom: 2em;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
	&::after {
		padding-left: 0.5em;
		font-family: $font-font-awesome;
		content: '\f003';
	}
	&:hover::after {
 	   color: $color-green;
	}
}

.property_detail_share::after {
    content: '\f003';
}
.property_detail_website::after {
	content: '\f08e';
}



.property_detail_more_spaces {
    display: inline-block;
	float: right;
    color: $color-green;
    font-size: 1.5em;
    cursor: pointer;
	
	&:hover {
		color: $color-text;
	}
}

.property_detail_content_body_container {
    padding: 0 0 2em 0;
    font-size: 1.5em;
	
	&.margin-top {
		margin-top: 2.6em;
	}
	
	h3 {
		margin: 1em 0;
		font-size: 1.2em;
		font-weight: bold;
	}
	
	ol, ul, p {
		font-size: 1em;
		margin-bottom: 1em;
	}
	
	ul {
		list-style: none;
		margin-bottom: 1em;

		li {
			position: relative;
			padding-left: 1.2em;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				color: $color-green;
				content: '+';
			}
		}
	}
}
	
.property_detail_tool_bar {
    padding: 1.2em 0;
    margin-bottom: 2.6em;
    border-bottom: 1px solid $color-hr;
}

.property_detail_tool_bar_item {
    display: inline-block;
    min-width: 2em;
    position: relative;
    margin-right: 1.5em;
}

.property_detail_tool_bar_item_title {
    font-size: 0.85em;
    text-align: center;
    vertical-align: top;
}
.property_detail_tool_bar_item_title:before {
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: 0 auto;
    color: $color-grey-dark;
    font-family: $font-font-awesome;
    font-size: 2em;
    text-align: center;
    content: ' ';
}
.property_detail_tool_bar_item_title:hover:before,
.drop_down_expand .property_detail_tool_bar_item_title:before {
    color: $color-green;
}
.property_detail_tool_bar_item_brochure .property_detail_tool_bar_item_title:before {content: '\f016';}
.property_detail_tool_bar_item_video .property_detail_tool_bar_item_title:before {content: '\f01d';}
.property_detail_tool_bar_item_plans .property_detail_tool_bar_item_title:before {content: '\f247';}
.property_detail_tool_bar_item_tour .property_detail_tool_bar_item_title:before {content: '\f112';transform: rotate(180deg);}
.property_detail_tool_bar_item_website .property_detail_tool_bar_item_title:before {content: '\f08e';}
.property_detail_tool_bar_item_360 .property_detail_tool_bar_item_title:before {content: '\f03e';}
.property_detail_tool_bar_item_webcam .property_detail_tool_bar_item_title:before {content: '\f030';}
.property_detail_tool_bar_item_3d .property_detail_tool_bar_item_title:before {content: '\f021';}
.property_detail_tool_bar_item_location .property_detail_tool_bar_item_title:before {content: '\f041';}

.property_detail_tool_bar_item .drop_down_wrapper {
    width: 21em;
    position: absolute;
    left: -9em;
	padding-top: 0;
	z-index: 1;
	transition: padding-top 0.3s;
}
.property_detail_tool_bar_item.drop_down_expand .drop_down_wrapper {
	padding-top: 1.5em;  
}
.property_detail_tool_bar_item_sub_list {
    background: #ffffff;
    border:2px solid rgba(23,48,56,0.1);
}
.property_detail_tool_bar_item_sub_list:before,
.property_detail_tool_bar_item_sub_list:after {
    left: 50%;
    top: 0;
    position: absolute;
    margin:-0.6em 0 0 -0.8em;
    border: solid transparent;
    border-width: 1.2em 0.8em;
    content: ' ';
	clip-path: inset(0 0 2.4em 0);
	transition: clip-path 0.3s;
}

.property_detail_tool_bar_item .drop_down_wrapper.left {
	left: -1em;
	.property_detail_tool_bar_item_sub_list:before,
	.property_detail_tool_bar_item_sub_list:after {
		left: 2.5em;
	}
}

.property_detail_tool_bar_item .drop_down_wrapper.right {
	left: auto;
	right: -1em;
	.property_detail_tool_bar_item_sub_list:before,
	.property_detail_tool_bar_item_sub_list:after {
		left: auto;
		right: 2.5em;
	}
}

.property_detail_tool_bar_item.drop_down_expand {
	.property_detail_tool_bar_item_sub_list:before,
	.property_detail_tool_bar_item_sub_list:after {
		clip-path: inset(0 0 0 0);
	}
}

.property_detail_tool_bar_item_sub_list:before {border-bottom-color: rgba(23,48,56,0.1);margin-top: -1em;}
.property_detail_tool_bar_item_sub_list:after {border-bottom-color: #ffffff;}

.property_detail_tool_bar_item_sub_list_item {
    display: block;
    padding: 0.7em 1.5em;
    font-size: 1.1em;
}
.property_detail_tool_bar_item_sub_list_item:hover {
    background: #edeeef;
}
.property_detail_tool_bar_item_sub_list_item:before {
    padding-right: 0.5em;
    font-family: $font-material-icons;
	content: 'open_in_new';
}
.property_detail_tool_bar_item_sub_list_item[download]:before {
    font-family: $font-font-awesome;
	content: '\f019';
}
.property_detail_tool_bar_item_sub_list_item:hover:before {
    color: $color-green;
}

.property_detail_for_lease_space_item_container {
    padding: 1em 0;
    border-bottom: 1px solid $color-hr;
    white-space: nowrap;
	
	&.leased {
		color: $color-grey-dark;
	}
}

.property_detail_for_lease_space_item_container.header {
	font-weight: bold;
}

.property_detail_for_lease_space_item_container > * {
    display: inline-block;
	white-space: normal;
	vertical-align: top;
}

.property_detail_for_lease_space_field_name {width: 35%; padding-right: 1em;}
.property_detail_for_lease_space_field_area {width: 20%; text-align: right; padding-right: 1em; }
.property_detail_for_lease_space_field_type {width: 20%; padding-right: 1em;}
.property_detail_for_lease_space_field_available {width: 25%; text-align: right; }

.property_detail_content_footer_container {
    font-size: 1.5em;
}

.property_detail_content_footer_container h3 {
    padding-bottom: 1.5em;
    font-size: 1.2em;
}

// Features

.property_detail_feature_container {
    display: inline-block;
    min-width: 5em;
	max-width: 6em;
    margin: 0 1.5em 1em 0;
    text-align: center;
    vertical-align: top;
}

.property_detail_feature_container:before {
    display: block;
    width: 1.5em;
    height: 1.5em;
    margin: 0 auto 0.5em;
    border: 2px solid $color-green;
    border-radius: 50%;
    color: $color-green;
	font-family: $font-material-icons;
    font-size: 1.5em;
    text-align: center;
    content: 'star';
}
.property_detail_feature_container {
	&.24-7-operations:before {content: ' ';}
	&.cafe:before {content: '\e541';}
	&.cctv-surveillance:before {content: '\e04b';}
	&.childcare:before {content: '\eb41';}
	&.convenience-store:before {content: '\e8d1';}
	&.esfr-sprinklers:before {font-family: $font-font-awesome; content: '\f134';}
	&.fitness:before,
	&.gym:before {content: '\eb43';}
	&.hybrid-car-parking:before,	
	&.parking:before,
	&.truck-parking:before {content: '\e54f';}
	&.secure-site-access:before,
	&.security:before{content: '\e0da';}
	&.shower:before {font-family: $font-font-awesome; content: '\f2cc';}	
	&.shuttle-bus:before {content: '\e530';}
	&.social:before {content: '\e7fb';}
	&.solar-panels:before {font-family: $font-font-awesome; content: '\f241';} 
	&.staff-social-areas:before,
	&.water-recycling-system:before {font-family: $font-font-awesome; content: '\f043';}
}


// More spaces

.property_detail_content_more_spaces {

	> h3 {
		padding: 1.5em 0 2em 0;
		font-size: 1.8em;
	}

	.property_list_section_content_container {
		padding: 0;
		margin: 0 -1em;
	}

	.property_list_item_image_container {
		height: 165px;
	}
}

.property_detail_bottom_container {
    text-align: center;
}

.property_detail_bottom_link {
    display: inline-block;
    padding: 1.333333333em;
    font-size: 1.5em;
    text-align: center;
}

.property_detail_bottom_link:before {
    display: inline-block;
    width: 2em;
    height: 2em;
    margin-right: 1em;
    padding-right: 0.1em;
    border: 2px solid $color-green;
    border-radius: 50%;
    color: $color-green;
    font-family: $font-font-awesome;
    line-height: 2em;
    text-align: center;
    content: '\f053';
}

.property_detail_bottom_link:hover:before {
    background: $color-green;
    color: #ffffff;
}


.property_detail_close {
    position: absolute;
	display: block;
    right: 0;
    top: 0;
	width: 3em;
    height: 3em;
    text-indent: 0;
    cursor: pointer;
	background: $color-green;
	text-align: center;
	z-index: 5;
	
	&:before {
		color: #ffffff;
		font-family: $font-material-icons;
		font-size: 2em;
		content: '\e5cd';
	}
}


@media only screen and (max-width: 991px) {
    .property_map_active .property_map_wrapper { display: block; }
    .property_map_active .property_detail_content_container { display: none; }
	
	.property_detail_view_lease {
		margin-top: 1em;
		margin-bottom: 1em;
	}
	.property_detail_website,
    .property_detail_share {
		margin: 1em 10px;
	}
	
}

@media only screen and (min-width: 992px) {
    #property_detail_page_wrapper > .container {
        position: relative;
        height: 100vh;
    }
    .property_detail_container {
        height: 100%;
        overflow: auto;
    }
	.property_detail_gallery_container,
    .property_detail_image_container {
        height: 40em;
    }
    .property_detail_gallery_container .gallery_navigator {
        width: 5rem;
        height: 5rem;
        margin-top: -2.5rem;
    }
    .property_detail_gallery_container .gallery_navigator:before {
        font-size: 2.4rem;
        line-height: 2.1;
    }
    .property_detail_close {
        width: 5rem;
        height: 5rem;
    }
    .property_detail_close:before {
        font-size: 2.4rem;
        line-height: 2.1;
    }
    .property_detail_gallery_container .gallery_zoom {
        display: block;
        right: 3em;
        bottom: 3em;
    }
    .property_detail_title_container {
        padding: 5em 24em 2em 4em;
    }
	.property_detail_for_lease_container .property_detail_title_container {
        padding-right: 4em;
    } 
    .property_detail_title_container > h1 {
        font-size: 4.4em;
    }
    .property_detail_content_container {
        padding: 0 4em 3.5em 4em;
    }
    .property_detail_content_header_container {
        padding-right: 180px;
    }
    .property_detail_address {
        padding: 0 0 1.3em 0;
        font-size: 1.8em;
    }
	.property_detail_filter_container {
		padding-bottom: 3em;
	}
    .property_detail_filter_item {
        padding-right: 2.4em;
        font-size: 1.6em;
		line-height: 1.4;
    }
    .property_detail_link_container {
        width: 170px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .property_detail_view_lease {
        position: absolute;
        bottom: 100%;
        right: 0;
        margin-bottom: 1.8em;
        padding: 0.6em 1em;
        font-size: 1.6em;
        white-space: nowrap;
    }
	
	/*
	.property_detail_for_lease_container .property_detail_website,
	.property_detail_for_lease_container .property_detail_share {
		float: left;
	}
	*/
	
	.property_detail_website,
    .property_detail_share {
        position: absolute;
        bottom: 2em;
        right: 0;
        margin: 0;
        font-size: 1.6em;
		
    }
	.property_detail_website {
		bottom: 4em;
	}
    .property_detail_for_lease_container .property_detail_share {
        bottom: 4em;
    }
	.property_detail_for_lease_container .property_detail_website {
        bottom: 6em;
    }
    .property_detail_more_spaces {
        position: absolute;
        bottom: 2em;
        right: 0;
        font-size: 1.6em;
    }
}

