/* Property Map - Popup */

.property_map_popup_thumb_container {
    padding-bottom: 8px;
	cursor: pointer;
}
.property_map_popup_thumb_container .thumb {
	background: center center no-repeat;
	background-size: cover;
    width: 100%; 
	height: 150px;
}
.property_map_popup_description_container {
    padding: 10px;
	cursor: pointer;
}
.property_map_popup_type {
    padding-bottom: 3px;
    color: $color-green;
    font-size: 13px;
}
.property_map_popup_title {
    padding-bottom: 9px;
    color: $color-text;
    font-size: 16px;
    font-weight: bold;
}
.property_map_popup_address {
    padding-bottom: 11px;
    color: $color-text;
    font-size: 14px;
}

/* Alternative esri controls */
.property_map_container {
	.esriPopup {
		@include font-roboto();
		
		.sizer {
			z-index: auto;
		}
		
		.esriPopupWrapper,
		.titlePane,
		.actionsPane {
			background: #fff;
			border-radius: 0;
		}
		.titlePane {
			padding-right: 60px;
			color: $color-green;
			height: 10px;
			z-index: 2;
		}
		
		.title {
			display: inline-block;
			background: #fff;
			z-index: 2;
			position: relative;
    		padding-right: 8px;
			line-height: 20px;
		}
		
		.titleButton.prev,
		.titleButton.next,
		.titleButton.close {
			background: #fff;
    		width: 20px;
    		height: 20px;
    		text-align: center;
			z-index: 2;
			&::before {
				font-family: $font-material-icons;
		    	content: '\E5CD';
				line-height: 19px;
				font-size: 15px;
			}
		}
		
		.titleButton.prev {
			right: 40px;
			&::before {
		    	content: '\E5CB';
			}
		}
		.titleButton.next {
			right: 20px;
			&::before {
		    	content: '\E5CC';
			}
		}
		.titleButton.close {
			right: 0;
			&::before {
		    	content: '\E5CD';
			}
		}
		.titleButton.maximize {
			display: none;
		}
		.contentPane {
			padding: 0 10px;
			max-height: none;
			background: #fff;
			z-index: 1;
		}
		.actionsPane {
			padding: 0 20px 10px 20px;
    		z-index: 1;
			
			a {
				color: $color-green;
			}
		}
	}
}