/* Property Map */

.property_map_container {
    height: 100%;
    position: relative;
	background-color: $color-grey-dark;
}

#map-disclaimer-container {
	position: absolute;
	bottom: 21px;
	right: 75px;
	z-index: 31;
	.map-disclaimer {
		display: inline-block;
		font-size: 10px;
    	line-height: 15px;
		padding: 0 1em;
		background: rgba(255,255,255,0.7);
		a {
			color: $color-green;
		}
	}
}

#searchContainer {
	position: absolute;
	top: 20px;
	left: 70px;
}

#clusters_layer {
	text {
		font-family: $font-roboto;
	}
}

// Zoom controls
#map {
	.esriSimpleSlider {
		border: none;
		background-color: #FFF;
		color: $color-green;
		border-radius: 0;
		box-shadow: 0 3px 8px rgba(23,48,56,0.3);
	}
	.esriSimpleSlider div {
		width: 40px;
		height: 40px;
		font-size: 24px;
		font-family: verdana,helvetica;
		font-weight: bold;
		line-height: 38px;
	}

	.esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
		border-bottom: none;
		border-radius: 0;
	}

	.esriSimpleSliderVertical .esriSimpleSliderDecrementButton {
		border-radius: 0;
	}
	
	.esriSimpleSliderDecrementButton:hover, 
	.esriSimpleSliderIncrementButton:hover {
    	color: #fff;
		background-color: $color-green;
	}
	
	.esriAttributionList {
		@include font-roboto();
		color: $color-text;
		font-size: 10px;
	}
}




/*
@media only screen and (max-width: 991px) {
    .property_map_wrapper {display: none;height: 60em;}
    .property_map_active .property_map_wrapper {display: block;}
    .property_map_active .property_list_section_wrapper {display: none;}
}

@media only screen and (min-width: 992px) {
    .property_map_wrapper {
        display: block;
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
    }
}
*/