/* Property Map - Bottom - Locality list */

.property_map_bottom_container {
    width: calc(100% - 40px);
    position: absolute;
    bottom: 40px;
    left: 20px;
    box-shadow: 0 3px 8px rgba(23,48,56,0.3);
	background: #fff;
}

.property_map_bottom_link {
	position: relative;
    padding: 16px 8px 16px 60px;
    background: #ffffff;
    border-left: 1px solid #cdcdcd;
    color: $color-text;
    font-size: 14px;
    cursor: pointer;
	min-height: 95px;
}

.locality-type {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: #fff;
	background-position: center 5px;
	background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border:2px solid $color-text;
    border-radius: 50%;
}

.property_map_bottom_link:hover,
.property_map_bottom_link.active {
	background: $color-green;
	color: #fff;
	
	.locality-type {
		background-position: center -30px;
		border:2px solid #fff;
	}
	
}

.property_map_bottom_link:first-child {
    border-left: none;
}

.property_map_bottom_link_title {
    display: inline-block;
    vertical-align: top;
	
	.property_map_bottom_link_name {
		font-weight: bold;
	}
	.property_map_bottom_link_distance {
		
	}
	
}

@media only screen and (max-width: 991px) {
    .property_map_bottom_link {
    	padding: 6px 8px;
		font-size: 12px;
	}
	.locality-type {
		display: none;
	}
	.property_map_bottom_link_title {
        display:block;
        padding: 0;
        text-align: center;
    }
	.property_map_bottom_link_name {}
	.property_map_bottom_link_distance {
		display: none;
	}
}

@media only screen and (max-width: 600px) {
	.property_map_bottom_container {
		display: none;
	}
}
