/* JQuery Plugins/Pull Down */

.pull_down_wrapper
{
    display: block;
    height: 0;

    background: #737c80;
    color: #ffffff;

    overflow: hidden;
}

.pull_down_expand
{
    height: auto;
}

.pull_down_container
{
    display: block;
    padding: 3em;
}

.pull_down_country_section
{
    padding-bottom: 3em;
}

.pull_down_country_section_title
{
    padding-bottom: 2px;
    margin-bottom: 5px;

    font-size: 2.4em;

    border-bottom: 1px solid #888888;
}

.pull_down_country_section_content
{
    font-size: 1.6em;
}

.pull_down_country_section_item
{
    padding: 0.3em 0;
}

.pull_down_country_section_item a
{
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.pull_down_country_section_item a:hover
{
    border-bottom-color: #77ac1c;
}

.pull_down_search_input_container
{
    text-align: center;
}

.pull_down_search_input_container .general_style_input,
.pull_down_search_input_container .general_style_button
{
    padding: 0.7em 1.4em;

    font-size: 1.6em;
}

.pull_down_search_input_container .general_style_button
{
    background: #77ac1c;
    color: #ffffff;
}

@media only screen and (max-width: 767px) {
    #pull_down_country > .column_container > .column,
    .pull_down_country_section_content > .column
    {
        float: none;
        width: 100%;
    }
    .pull_down_container {width: 100%}
}

@media only screen and (min-width: 768px) {
    #pull_down_country > .column_container > .column
    {
        padding: 0 4em;
    }
}