/* Base */


// Box sizing
*, 
*:before, 
*:after {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
}

// No focus outline
:focus {
    outline:0;
}


// Sizing
html {
	position: relative;
    display: block;
    height: 100%;
}

body {
    position: relative;
	display: block;
    height: 100%;
    padding: 0;
    margin: 0;
}


// RESETS

h1, h2, h3, h4, h5, h6, p, ol, ul, li {
    padding: 0;
    margin: 0;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse:collapse;
    border-spacing:0;
}

img {
	display:block;
	max-width:100%;
}

.wrapper { width:100%; }
.container { width:95%; margin:0 auto; }

.clear { clear:both; }