/* Landing page styles */
	
	.narrow-container {
		max-width: 810px;
		padding-left: 20px;
		padding-right: 20px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.developments {
		.developments-header {
			height: 120px;
			text-align: center;
			background: $color-green;
			color: #fff;
			h2 {
				font-size: 2.8em;
				font-weight: 400;
				line-height: 119px;
				&::after {
					content: '+';
					font-weight: 300;
					color: $color-text;
				}
			}
		}
		
		.developments-gallery {
			background: $color-grey;
			height: 495px;
		}
		
	}
	.tours {
		.tours-header {
			text-align: center;
			padding-top: 44px;
			padding-bottom: 44px;
			h2 {
				font-size: 2.8em;
				font-weight: 400;
				color: $color-text;
				display: inline-block;
				border-bottom: 1px solid $color-hr;
				margin-bottom: 0.7em;
				&::after {
					content: '+';
					font-weight: 300;
					color: $color-green;
				}
			}
			p {
				font-size: 1.7em;
				line-height: (30 / 17);
			}
		}
		.tours-gallery {
			background: $color-grey;
			height: 330px;
		}
	}
	
