/* Fonts */

@mixin font-alliased() {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Fonts from Google
font-family: 'Roboto'
Weights: 700, 600, 400, 300
Styles: italic (400), normal
*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,600,700');

$font-roboto: 'Roboto', Helvetica, Arial, sans-serif;

.open-roboto {
	font-family: $font-roboto;
	font-weight: 400;
}

@mixin font-roboto($weight: 400, $style: normal) {
	font-family: $font-roboto;
	font-style: $style;
	font-weight: $weight;
}

/*# Web Fonts/Font - Awesome Icons #*/
// Path relative to CSS folder
@font-face {
    font-family:'FontAwesome';
    src:url('../font/fontawesome-webfont.eot?v=4.3.0');
    src:url('../font/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), 
		url('../font/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), 
		url('../font/fontawesome-webfont.woff?v=4.3.0') format('woff'), 
		url('../font/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), 
		url('../font/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
    font-weight:normal;
    font-style:normal;
}

$font-font-awesome: 'FontAwesome';

.font_icon {
	font-family: $font-font-awesome;
}
.font_icon:before {
    display:inline-block;
    text-align:center;
}

/*# Web Fonts/Font - Material Icons #*/
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$font-material-icons: 'Material Icons';

.font-material-icon {
	font-family: $font-material-icons;
}
