/* Columns */

.column_container:after { display:block; height:1px; margin-top:-1px; clear:both; content:' ';}
.column_container > .column { display:block; float:left; min-height:1px; }
.column_12 {width:100%;}
.column_11 {width:91.66666667%;}
.column_10 {width:83.33333333%;}
.column_9 {width:75%;}
.column_8 {width:66.66666667%;}
.column_7 {width:58.33333333%;}
.column_6 {width:50%;}
.column_5 {width:41.66666667%;}
.column_4 {width:33.33333333%;}
.column_3 {width:25%;}
.column_2 {width:16.66666667%;}
.column_1 {width:8.33333333%;}

/*# General/Responsive #*/
@media only screen and (max-width:359px) {
    .hidden_xxs {display:none !important;}
    .column_xxs_12 {width:100%;}
    .column_xxs_11 {width:91.66666667%;}
    .column_xxs_10 {width:83.33333333%;}
    .column_xxs_9 {width:75%;}
    .column_xxs_8 {width:66.66666667%;}
    .column_xxs_7 {width:58.33333333%;}
    .column_xxs_6 {width:50%;}
    .column_xxs_5 {width:41.66666667%;}
    .column_xxs_4 {width:33.33333333%;}
    .column_xxs_3 {width:25%;}
    .column_xxs_2 {width:16.66666667%;}
    .column_xxs_1 {width:8.33333333%;}
    .container {max-width:300px;}
}

@media only screen and (min-width:360px) and (max-width:$screen-xs - 1) {
    .hidden_xs {display:none !important;}
    .column_xs_12 {width:100%;}
    .column_xs_11 {width:91.66666667%;}
    .column_xs_10 {width:83.33333333%;}
    .column_xs_9 {width:75%;}
    .column_xs_8 {width:66.66666667%;}
    .column_xs_7 {width:58.33333333%;}
    .column_xs_6 {width:50%;}
    .column_xs_5 {width:41.66666667%;}
    .column_xs_4 {width:33.33333333%;}
    .column_xs_3 {width:25%;}
    .column_xs_2 {width:16.66666667%;}
    .column_xs_1 {width:8.33333333%;}
    .container {width:340px;}
}

@media only screen and (min-width:$screen-xs) and (max-width:$screen-sm - 1) {
    .hidden_s {display:none !important;}
    .column_s_12 {width:100%;}
    .column_s_11 {width:91.66666667%;}
    .column_s_10 {width:83.33333333%;}
    .column_s_9 {width:75%;}
    .column_s_8 {width:66.66666667%;}
    .column_s_7 {width:58.33333333%;}
    .column_s_6 {width:50%;}
    .column_s_5 {width:41.66666667%;}
    .column_s_4 {width:33.33333333%;}
    .column_s_3 {width:25%;}
    .column_s_2 {width:16.66666667%;}
    .column_s_1 {width:8.33333333%;}
    .container {width:450px;}
}

@media only screen and (min-width:$screen-sm) and (max-width:$screen-md - 1) {
    .hidden_m {display:none !important;}
    .column_m_12 {width:100%;}
    .column_m_11 {width:91.66666667%;}
    .column_m_10 {width:83.33333333%;}
    .column_m_9 {width:75%;}
    .column_m_8 {width:66.66666667%;}
    .column_m_7 {width:58.33333333%;}
    .column_m_6 {width:50%;}
    .column_m_5 {width:41.66666667%;}
    .column_m_4 {width:33.33333333%;}
    .column_m_3 {width:25%;}
    .column_m_2 {width:16.66666667%;}
    .column_m_1 {width:8.33333333%;}
    .container {width:740px;}
}

@media only screen and (min-width:$screen-md) and (max-width:$screen-xl - 1) {
    .hidden_l {display:none !important;}
    .column_l_12 {width:100%;}
    .column_l_11 {width:91.66666667%;}
    .column_l_10 {width:83.33333333%;}
    .column_l_9 {width:75%;}
    .column_l_8 {width:66.66666667%;}
    .column_l_7 {width:58.33333333%;}
    .column_l_6 {width:50%;}
    .column_l_5 {width:41.66666667%;}
    .column_l_4 {width:33.33333333%;}
    .column_l_3 {width:25%;}
    .column_l_2 {width:16.66666667%;}
    .column_l_1 {width:8.33333333%;}
    .container {width:960px;}
}

@media only screen and (min-width:$screen-xl) and (max-width:$screen-xxl - 1) {
    .hidden_xl {display:none !important;}
    .column_xl_12 {width:100%;}
    .column_xl_11 {width:91.66666667%;}
    .column_xl_10 {width:83.33333333%;}
    .column_xl_9 {width:75%;}
    .column_xl_8 {width:66.66666667%;}
    .column_xl_7 {width:58.33333333%;}
    .column_xl_6 {width:50%;}
    .column_xl_5 {width:41.66666667%;}
    .column_xl_4 {width:33.33333333%;}
    .column_xl_3 {width:25%;}
    .column_xl_2 {width:16.66666667%;}
    .column_xl_1 {width:8.33333333%;}
}

@media only screen and (min-width:$screen-xl) {
    .container {width:1170px;}
}

@media only screen and (min-width:$screen-xxl) {
    .hidden_xxl {display:none !important;}
    .column_xxl_12 {width:100%;}
    .column_xxl_11 {width:91.66666667%;}
    .column_xxl_10 {width:83.33333333%;}
    .column_xxl_9 {width:75%;}
    .column_xxl_8 {width:66.66666667%;}
    .column_xxl_7 {width:58.33333333%;}
    .column_xxl_6 {width:50%;}
    .column_xxl_5 {width:41.66666667%;}
    .column_xxl_4 {width:33.33333333%;}
    .column_xxl_3 {width:25%;}
    .column_xxl_2 {width:16.66666667%;}
    .column_xxl_1 {width:8.33333333%;}
}


// Hide on Mobile/Desktop

@media only screen and (max-width:$screen-sm - 1) {
    .hidden_mobile {display: none !important;}
}

@media only screen and (min-width:$screen-sm) {
    .hidden_desktop {display: none !important;}
}

