/* Page layout */

.page-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}
	
.page-left-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 50%;
	background: #fff;
	z-index: 2;
	transition: 0.5s;
}

.page-right-wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	right: 0;
	transition: 0.5s;
}

.page-left-resizer {
	position: absolute;
	top: calc(50% - 20px);
	left: 50%;
	width: 20px;
	height: 40px;
	background: #fff;
	text-align: center;
	box-shadow: 0 3px 8px rgba(23,48,56,0.3);
	transition: 0.5s;
	cursor: pointer;
	z-index: 1;
	
	&::before {
		font-family: $font-material-icons;
		content: '\E5CB';
		color: $color-green;
		line-height: 40px;
		font-size: 2em;
	}
}

.page-left-closed {
	.page-left-wrapper {
		left: -50%;
		right: 100%;
	}
	.page-right-wrapper {
		left: 0;
	}
	.page-left-resizer {
		left: 0;
		&::before {
			content: '\E5CC';
		}
	}
}

.scroll-pane {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.property_filter_active .scroll-pane-results {
	overflow: hidden;
	&::before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(255,255,255,0.9);
		z-index: 3;
	}
}

@media only screen and (max-width: $screen-md - 1) {
	.page-wrapper {
		overflow-y: auto;
	}
	.page-left-wrapper,
	.page-right-wrapper { left: 0; right: 0; }
	.page-right-wrapper { display: none; }
	.page-left-resizer { display: none; }
	
	.scroll-pane { overflow-y: scroll; }

	.property_map_active .page-right-wrapper { display: block; top: 80px; }
	.property_map_active .page-left-wrapper { display: none; }
	
	.property_filter_active .page-left-wrapper { display: block; z-index: 31; }
}
	